<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar bleibt unverändert -->
    <nav class="navbar navbar-light bg-white mb-4 border-bottom">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="<%= lists_path %>">
        <img src="https://images.unsplash.com/photo-1691480213129-106b2c7d1ee8?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Popcorn" width="40" height="40" class="d-inline-block align-text-top me-2">
          <span>My Movie App</span>
        </a>
        <%= link_to new_list_path, class: "btn btn-primary" do %>
          <i class="fas fa-plus me-2"></i> Create new list
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
